<div class="container">
    <div *ngFor="let c of ComentariosArray">
        user {{c.usuario}}
        coment {{c.comentario}}
    </div>
</div>
<div class="col-md-12 fixed-bottom">
    <div class="chat-window">
        <div *ngIf="comentarios || comentarios == null" class="app-mensajes">
            <div  *ngFor="let coment of comentarios; index as i " [ngClass]="{ 'text-right': coment.idUsuario == IdUsuario  }">
                <span class="badge " [ngStyle]="{ 'background-color': setColor(i)}" style="color: white;">
                    {{ coment.usuario }}</span>
                <p>
                    {{ coment.comentario }}
                </p>
            </div>

        </div>
        <input  type="text" class="form-control" name="users" id="userlist" style="font-size: 10px;">
                
        <input  [(ngModel)]='mensaje' type="text" name="mensaje" class="form-control" (keyup.enter)="enviar_mensaje()"
            placeholder="Enviar mensaje">
    </div>
</div>